@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

/* Abordagem Mobile First, desenvolvimento com foco em dispositivos móveis */

:root {
    --cor01: #49a09d;
    --cor02: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* dimensões incluem conteúdo, padding e borda */
}

body {
    background-color: var(--cor02);
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
}

div#img {
    background: var(--cor02) url('../img/photo.jpg') center/cover;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    
}

div#formulario {
    padding: 10px;
}

                        /* tela deitada */

@media screen and (max-width: 480px) and (orientation: landscape) { 
    section#login {
        width: 500px;
        height: 300px;
    }

}
