@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

/* Abordagem Mobile First, desenvolvimento com foco em dispositivos móveis */

:root {
    --cor01: #49a09d;
    --cor02: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* dimensões incluem conteúdo, padding e borda */
}

body {
    background-color: var(--cor02);
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 525px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
    transition: width .5s, height .5s; /* transition-property + transition-duration */
}

div#img {
    background: var(--cor02) url('../img/photo.jpg') center/cover;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    
}

div#formulario {
    padding: 10px;
}

h1 {
    text-align: center;
}

p {
    margin: 10px 0;
}

div.formu {
    margin: 10px 0;
}

input {
    height: 30px;
}

input[type="submit"] {
    background-color: var(--cor01);
    color: #fff;
    font-size: 1.1em;
    padding-bottom: 3px;
    width: 100%;
    height: 35px;
    cursor: pointer;
    margin-bottom: 10px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
    border-color: buttonborder;
    border-radius: 0px 0px 0px 0px;
}

input[type="submit"]:hover {
    background-color: #346f6d;
}

input[placeholder] {
    margin-left: 2px;
}

form > a {
    background-color: #fff;
    color: #346f6d;
    display: block;
    width: 100%;
    height: 35px;
    text-decoration: none;
    text-align: center;
    
    font-size: 1.1em;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
    border-color: buttonborder;
    padding-bottom: 0px;
}

form > a:hover {
    background-color: var(--cor01);
}

label {
    display: none;
}

