@charset "UTF-8";

/* DEVICE BREAKPOINTS

Mobile devices – 320px — 480px (estilo principal)
iPads, Tablets – 481px — 768px
Small screens, laptops – 769px — 1024px
Desktops, large screens – 1025px — 1200px
Extra large screens, TV – 1201px, and more

*/

                         /* TABLET EM PÉ */

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
    section#login {
        width: 70vw;
    }
}

                        /* TABLET DEITADO */

@media screen and (min-width: 1024px) and (orientation: landscape) {
    section#login {
        width: 80vw;
        height: 70vh;
    }

    div#img {
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }

    div#formulario {
        float: right;
        width: 70%;
    }
}

              /* Small screens, laptops – 769px — 1024px */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    section#login {
        width: 80vw;
    }
}