@charset "UTF-8";

                        /* ::::: MODO PAISAGEM ::::: */

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v129/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}
                  
.icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: url('../img/fundo.jpg') fixed center/cover;
}

main {
    position: absolute;
    background-color: rgba(250, 235, 215, 0.582);
    height: 50vh;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 9px 0px #0000006a;
    padding-left: .7em;
}

section#img {
    float: right;
    background: url('../img/mando.jpg') center/cover;
    width: 35%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

section#formulario {
    width: 65%;
}

section#formulario > h1 {
    text-align: center;
    margin: .5em 0;
}

section#formulario > p {
    margin-bottom: 0.5em;
}

div#flt {
    float: left;
}

input[placeholder] {
    border: 2px solid #000;
    border-radius: 5px;
    transform: translateY(-11px);
    height: 30px;
}

input[type="submit"] {
    display: block;
    margin: auto;
    -webkit-appearance: none;
    padding: .4em 1.7em .5em;
    border: 1px solid #000;
    border-radius: 5px;
}

div#link > a {
    font-size: .9em;
    text-decoration: none;
    color: rgb(35, 36, 3);
    padding: .3em .5em .4em;
    border: 1px solid;
    border-radius: 5px;
}

div#link > a:hover {
    text-decoration: underline;
}

label {
    display: none;
}

            /* :::: REGRA FEITA ESPECIALMENTE PRO MEU CELULAR :::: */

@media screen and (max-width: 1000px) {
    main {
        width: 80vw;
    }

    section#formulario > h1 {
        margin: .2em 0;
    }

    input[type="submit"] {
        transform: translateY(5px);
    }

    div#link {
        width: 81%;
        margin: auto;
        text-align: right;
        transform: translateY(14px);
    }

}