@charset "UTF-8";

                        /* ::::: MODO PAISAGEM ::::: */

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v129/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}
                  
.icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
}

body {
    background: url('../img/fundo.jpg') fixed center/cover;
}

main {
    position: absolute;
    background-color: rgba(250, 235, 215, 0.582);
    height: 50vh;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 9px 0px #0000006a;
}

section#img {
    float: right;
    background: url('../img/mando.jpg') center/cover;
    width: 35%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

