@charset "UTF-8";

@media screen and (min-width: 481px) and (max-width: 668px) {
    main {
        width: 90vw;
        height: 320px;
    }

    section#img {
        float: right;
        width: 33%;
        height: 100%;
        border-radius: 0 30px 30px 0;
    }

    section#frml {
        width: 67%;
        height: 100%;
        border-radius: 30px 0 0 30px;
    }

    input[type="submit"] {
        margin: 1em auto;    
    }
}

@media screen and (min-width: 669px) and (max-width: 768px) {
    main {
        width: 90vw;
        height: 360px;
    }

    section#img {
        float: left;
        width: 33%;
        height: 100%;
        border-radius: 30px 0px 0px 30px;
        margin-right: 5px;
    }

    section#frml {
        margin-right: 5px;
    }

    section#frml:focus-within {
        box-shadow: none;
    }

    input[placeholder] {
        position: static;
        transform: translate(2px, -16px);
        height: 2.5em;
    }
}