@charset "UTF-8";

@media screen and (min-width: 481px) and (max-width: 668px) {
    main {
        width: 90vw;
        height: 320px;
    }

    section#img {
        float: right;
        width: 33%;
        height: 100%;
        border-radius: 0 30px 30px 0;
    }

    section#frml {
        width: 67%;
        height: 100%;
        border-radius: 30px 0 0 30px;
    }

    input[type="submit"] {
        margin: 1em auto;    
    }
}

@media screen and (min-width: 669px) and (max-width: 768px) {
    body {
        height: 100vh;
        background-image: linear-gradient(to top, rgb(202, 252, 202), rgb(158, 158, 253));
    }

    main {
        width: 90vw;
        height: 360px;
    }

    section#img {
        float: left;
        width: 33%;
        height: 100%;
        border-radius: 30px 0px 0px 30px;
        margin-right: 5px;
    }

    section#frml {
        margin-right: 5px;
    }

    section#frml h1 {
        margin: .2em 0 .5em 0;
    }

    section#frml p {
        line-height: 1.6;
    }

    section#frml:focus-within {
        box-shadow: none;
    }

    input[placeholder] {
        position: static;
        transform: translate(2px, -16px);
        height: 2.5em;
    }

    input[type="submit"] {
        margin: 1em auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        height: 100vh;
        background-image: linear-gradient(to top, rgb(158, 158, 253), rgb(202, 252, 202));
    }

    main {
        width: 700px;
        height: 350px;
        background-color: rgb(138, 106, 45);
    }

    section#img {
        float: right;
        width: 33%;
        height: 100%;
        border-radius: 0 30px 30px 0;
    }

    section#frml {
        width: 67%;
        height: 100%;
        border-radius: 30px 0 0 30px;
        padding: .7em;
    }

    section#frml p {
        line-height: 1.6;
    }
}
    @media screen and (min-width: 1025px) {
        body {
            height: 100vh;
            background-image: linear-gradient(to right, rgb(202, 252, 202), rgb(158, 158, 253));
        }

        main {
            width: 800px;
            height: 400px;
        }

        section#img {
            float: right;
            width: 33%;
            height: 100%;
            border-radius: 0 30px 30px 0;
        }

        section#frml {
            width: 67%;
            height: 100%;
            border-radius: 30px 0 0 30px;
            padding: .7em;
        }

        section#frml h1 {
            margin-bottom: 1em;
        }

        section#frml p {
            line-height: 1.6;
        }

        form {
            padding: 2em;
        }

        input[type="submit"] {
            font-variant: small-caps;
            font-size: 1.2em;
            letter-spacing: .2em;
        }
}