@charset "UTF-8";

                        /* ::::: MODO RETRATO ::::: */

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v129/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}
                          
.icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 1.9em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    width: 30.4px;
    height: 30.4px;
}

* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

main {
    position: absolute;
    background-color: bisque;
    width: 80vw;
    height: 90vh;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px #0000007a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

section#img {
    background: aqua url('../img/mando.jpg') center/cover;
    height: 50%;
    border-radius: 10px 10px 0 0;
}

section#formulario {
    padding: 0 .6em .6em;
    height: 50%;
    width: 100%;
}

section#formulario > h1 {
    text-align: center;
    margin-top: .1em;
}

section#formulario > p {
    margin: .3em 0 .6em;
}

form > div {
    margin-bottom: .5em;
    height: 30.4px;
}

input + label{
    display: none;
}

input[placeholder] {
    width: calc(100% - 35px);
    height: 100%;
    transform: translateY(-9px);
}

input[type="submit"] {
    width: 50%;
    padding: .2em 0 .3em;
    margin: 20px auto 0;
    display: block;
    cursor: pointer;
}

section#formulario:focus-within {
    /* foco dentro, a pseudoclasse ':focus-within' seleciona e aplica estilos a um elemento quando ele ou qualquer um de seus descentes receber foco */
    border: 2px solid greenyellow;
    box-shadow: 0px 0px 8px 0px inset greenyellow;
}

div#link {
    text-align: center;
    margin-top: 15px;
}

form > a {
    
}